.theatres_root_container{
    display: block;
    width: 100%;
    height: 100%;
}

.theatres_header {
    width: 100%;
    height: 80vh;
    background-image: url("../../assets/images/HeaderWallaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.theatres_header h1 {
    position: absolute;
    top: 65vh;
    left: 5vh;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.15rem;
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
}

.parallax {
    position: relative;
    z-index: 0;
    background-image: url("../../assets/images/parallax.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    display: block;
}

.theatres_block {
    display: block;
    padding: 25px;
}

.theatres_block h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.15rem;
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
}

.theatres_list {
    padding: 4px;
    width: 100%;
}