.home_root_container {
    width: 100%;
    height: 100%;
}

.home_container {
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home_header_slide {
    height: 90vh;
    background-position: 50% 0px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: linear-gradient(45deg,#2f88fc 0%,#ff5959 100%);
}

.home_header_container {
    display: block;
}

.header_mid_text_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding-top: 18vh;
}

.header_mid_text_container span {
    color: #000000;
    font-size: 0.85rem;
    letter-spacing: 0.15rem;
    text-align: center;
    font-weight: bold;
    transform: translateZ(0px) translateY(0%);
}

.header_main_text {
    display: block;
    margin-top: 50px;
}

.header_mid_text_container h2{
    font-size: 4.8rem;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-weight: 600;
    opacity: 1;
    transform: translateZ(0px) translateY(0%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: -50px;
}

.header_slide_footer {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-left: 3%;
    height: 18vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.header_slide_footer span{
    align-self: flex-start;
    margin-left: 50px;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 600;
    color: #ffffff;
    transform: translateZ(0px) translateY(0%);
    margin-bottom: 10px;
}

.header_slide_footer_conatiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin-left: 3%;
    opacity: 1;
    transform: translateZ(0px) translateY(0%);
}

.home_body_container {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.content_list {
    padding: 15px;
    transform: translateZ(0px) translateY(0%);
}

.home_parallax {
    position: relative;
    z-index: 0;
    background-image: url(../../assets/images/parallax.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    display: block;
}

.content_info {
    display: block;
    transform: translateZ(0px) translateY(0%);
    width: 96% !important;
    margin-left: 2%;
    margin-top: 5px;
    padding-bottom: 15px;
}

.body_info_container {
    display: flex;
    flex-direction: column;
    background: rgba(1, 24, 43, 0.7);
    padding: 20px;
    justify-content: center;
    text-align: left;
    height: 100%;
}

.section_title > span {
    font-family: 'Playfair Display',serif;
    font-style: italic;
    font-size: 50px;
    font-weight: 700;
    color: #706d79;
    line-height: .75;
    z-index: 0;
}

.section_title h1 {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #e9e7e7;
    z-index: 1;
    margin-top: -20px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.synopsis_container h2 {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 17px;
}

.synopsis_container {
    margin-top: 10px;
}

.synopsis_container p {
    color: #ffffff;
    font-size: 14px;
}

.attribute_list {
    margin-top: 2px;
}

.attribute_list ul {
    list-style: none;
    margin-bottom: 0;
}

.attribute_list ul li:not(:last-of-type) {
    margin-bottom: 14px;
}

.attribute_list ul li {
    display: flex;
}

.attribute_list ul li span {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 10px;
}

.button_block {
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.content_img img {
    width: 100%;
    height: 100%;
}

.banner_root {
    width: 100%;
    height: 75vh;
    background-image: url(../../assets/images/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 800px) {
    .header_mid_text_container {
        padding-top: 5vh;
    }

    .header_mid_text_container h2 {
        font-size: 2.5rem;
        margin-top: -25px;
    }

    .header_main_text {
        margin-top: 45px;
    }

    .header_mid_text_container span {
        font-size: 0.75rem;
    }

    .header_mid_text_container {
        width: 96%;
        margin-left: 2%;
    }
    
    .header_slide_footer {
        height: 40vh;
        width: 100%;
        margin-left: 0%;
    }

    .body_info_container {
        width: 73%;
    }

    .section_title > span {
        font-size: 60px;
    }

    .section_title h1 {
        font-size: 17px;
    }
    
    .synopsis_container h2 {
        font-size: 15px;
    }

    .synopsis_container p {
        font-size: 12px;
    }
}