.home_root_container {
    width: 100%;
    height: 100%;
}

.parallax {
    position: relative;
    z-index: 0;
    background-image: url("../../assets/images/parallax1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    display: block;
}

.home_body_content_root {
    width: 100%;
    height: 100%;
    display: block;
}

.home_body_content {
    padding: 30px;
}

.body_content_root {
    margin-top: 20px;
    margin-bottom: 40px;
}

.body_info_container {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body_info_container h1 {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 25px;
    font-size: 30px;
    letter-spacing: 0.1rem;
}

.body_info_container h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100px;
    background: #ff6347;
    content: "";
}

.body_info_container p {
    color: #ffffff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.content_img_source {
    width: 80%;
    height: 80%;
}