.movies_root_container {
    display: block;
    width: 100%;
    height: 100%;
}

.movies_header {
    width: 100%;
    height: 80vh;
    background-image: url("../../assets/images/moviesWallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.movies_header h1 {
    position: absolute;
    top: 65vh;
    left: 5vh;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.15rem;
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
}

.parallax {
    position: relative;
    z-index: 0;
    background-image: url("../../assets/images/parallax.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    display: block;
}

.movies_block {
    display: block;
    padding: 20px;
}

.filter_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter_header_title {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.filter_header_clear {
    color: #ff6347;
    font-weight: 600;
    font-size: 0.7rem;
    align-self: flex-end;
    text-transform: uppercase;
}

.filter_header_clear:hover {
    cursor: pointer;
    color: rgb(145, 145, 145);
}

.movies_list_header {
    width: 100%;
}

.movies_list_header h2 {
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 25px;
    position: relative;
}

.movies_list_header h2::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100px;
    background: #ff6347;
    content: "";
} 

.movies_list {
    margin-top: 8vh;
}