.custom_button {
    display: flex;
    color: #fff;
    border: 1px solid #f74e30;
    padding: 15px;
    background: #f74e30;
    border-radius: 10px;
    transition: .4s all ease;
    text-transform: uppercase;
    font-size: 0.85rem;
    min-width: 80px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.custom_button:hover {
    -webkit-font-smoothing: antialiased;
    text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
    background-color: transparent;
    font-weight: bold;
}