.primary-btn {
    display: inline-block;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: bold;
    padding: 14px 32px 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    color: #ff6347;
    text-decoration: none;
    background-color: transparent;
    margin-top: 15px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    background: none;
}

.primary-btn::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    border-left: 3px solid #ff6347;
    border-top: 3px solid #ff6347;
    content: "";
    z-index: -1;
    -webkit-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    transition: all, 0.7s;
}

.primary-btn::after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    border-right: 3px solid #ff6347;
    border-bottom: 3px solid #ff6347;
    content: "";
    z-index: -1;
    -webkit-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    transition: all, 0.7s;
}

.primary-btn:hover {
    color: rgb(255, 255, 255);
}

@media screen and (max-height: 600px) {
    .primary-btn {
        padding: 7px 18px 6px;
        font-size: 0.7rem;
    }

    .primary-btn::before {
        height: 18px;
        width: 18px;
    }

    .primary-btn::after {
        height: 18px;
        width: 18px;
    }
}