.block_list_root {
    margin-top: 2vh;
}

.block_list_container{
    margin: 10px 15px 10px 15px;
}

.list_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.block_list_container h1 {
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 20px;
    color: #ffffff;
}

.block_list_container h1::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100px;
    background: #ff6347;
    content: "";
}

.list_items {
    padding: 5px;
}

.show_more_text {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.01rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.show_more_text:hover {
    opacity: 0.5;
}