.events_root {
    display: block;
    width: 100%;
    height: 100%;
}

.events_header {
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.events_header h1 {
    position: absolute;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: rgb(255, 255, 255);
    font-size: 3.4rem;
    text-shadow: 2px 2px #f74e30;
    text-align: center;
    margin-top: 10vh;
}

.event_parallax {
    position: relative;
    z-index: 0;
    background-image: url("../../assets/images/parallax.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    display: block;
}