.admin-panel-root {
    display: block;
    width: 100%;
    height: 100%;
}

.parallax {
    position: relative;
    z-index: 0;
    background-image: url("../../assets/images/parallax.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    display: block;
}

.panel-top-padding {
    height: 100px;
    width: 100%;
}

.panel-main-container {
    height: 100%;
}

.sidebar-root {
    margin-top: 5vh;
}

.panel-contents-root {
    padding: 30px;
}

.panel-contents-root h2 {
    color:aliceblue;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    font-size: 1.1rem;
    text-shadow: 1.5px 1.5px #f74e30;
}

.panel-content-container {
    padding: 15px;
}

.input_wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 13px;
    margin-bottom: 25px;
}

.input_wrapper-label {
    font-size: 13px;
    color: rgb(172, 172, 173);
    line-height: 1.5;
    margin-left: 8px;
    letter-spacing: 0.06rem;
}

.new-movie-root {
    display: block;
}

.input_root {
    margin-top: 15px;
}