.header_label {
    color: #c2bfbf;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
}

.listItem {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
}

.list_item_name {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    font-size: 0.7rem;
}